<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %>
    <%= f.text_field :Name %>
  </div>

  <div class="field">
    <%= f.label :SI_LEADER %>
    <%= f.text_field :SI_LEADER %>
  </div>

  <div class="field">
    <%= f.label :Department %>
    <%= f.text_field :Department %>
  </div>

  <div class="field">
    <%= f.label :Venue %>
    <%= f.text_field :Venue %>
  </div>

  <div class="field">
    <%= f.label :Session_times %>
    <%= f.text_area :Session_times %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
