
	<p id="notice"><%= notice %></p>
	<h1>Courses</h1>
	<% @courses.each do |course| %>
	  <div class = "col-md-4">
	    <h2><%= course.Name %></h2>
	    <%= link_to 'VIEW ARTICLE', course %>
	    <%= link_to 'DELETE ARTICLE', course, method: :delete, data: { confirm: 'Are you sure?', class: "btn btn-default" } %> 
	  </div>
	<% end %>

	<br/>
	<br/>
	<br/>
