 <div class = "col-md-8 col-md-offset-2" >
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Name:</strong>
      <%= @course.Name %>
    </p>

    <p>
      <strong>Si leader:</strong>
      <%= @course.SI_LEADER %>
    </p>

    <p>
      <strong>Department:</strong>
      <%= @course.Department %>
    </p>

    <p>
      <strong>Venue:</strong>
      <%= @course.Venue %>
    </p>

    <p>
      <strong>Session times:</strong>
      <%= @course.Session_times %>
    </p>

    <%= link_to 'Edit', edit_course_path(@course) %> |
    <%= link_to 'Back', courses_path %>
</div>

