<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   

   <div class = "navbar navbar-default">
     <div class="container"> 
            <div class="navbar-header" >
               <%=link_to "HOME" ,root_path ,class: "navbar-brand"%>
                <ul class = "nav navbar-nav">
              <li><%= link_to "Sign Up" , new_user_registration_path %></li>
            </ul>
            <ul class = "nav navbar-nav">
           
             <li><%= link_to "Sign Out" , destroy_user_session_path , method: :delete%></li>
            <%else%>
             <li><%= link_to "Log In" , user_session_path %></li>
                   
            </ul>
            
            </div>
            
              <ul class = "nav navbar-nav navbar-right">
              <li><%= link_to 'ARTICLES', new_course_path , class: "btn btn-default"%></li>
              <%if user_signed_in?%>
                <li><%= link_to 'New Course', new_course_path , class: "btn btn-default"%></li>
              <%end%>
              </ul>
         
        </div>
    </div>

   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
   <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
